body{
    font-family: 'Poppins', sans-serif;
}
.skip-color{
    color: orange;
}
h1{
    font-size: 40px;
    line-height:20px ;
    color: dimgray;
}
.flex-container{
    display: flex;
}
.full-width{
    width: 50%;
    padding-left:7%;
    margin-top: 6%;
}
.half-width img{
    width:450px;
    height: 500px;
}
.link-button{
    text-decoration:none;
    font-weight:bold;
    padding:10px 30px;
    border-radius: 50%;
    background-image: linear-gradient( orange,tomato);
    top: 15px;
}
.second-img{
    padding-left:50px;
    width:50%;
}
.test-colum{
    color:grey;
}
.female-section{
    background-image:url(images/shapes/7.png);
}
.added-recipies{
    text-align:center;
}
.box-shadow{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.box-shadow img{
    width:100%;
}
.first-shadow{
    margin-right:5% ;
    box-shadow:10px 10px 10px 10px grey;
    border-radius:5%;
    padding: 10px 10px 10px 10px;
}
.another-flex{
    display: flex;
    text-align: center;
}
.deign-one{

    margin-left: 11%;
    font-size: 30px;
    line-height: 15px;
}
.food-color{
    color: orange;
}
.footer-edit{
    text-align: center;
    background-color: green;
    color: blanchedalmond;
    padding-bottom: 5%;
    padding-top: 2%;
}